fieldset {
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-bottom: 30px;
}

textarea {
    margin-bottom: 10px;
}

body {
    border: solid 1px grey;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(230, 240, 250);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
    font-size: 50px;
}
form {
    background-color: rgb(200, 210, 220);
    margin: 0;
    padding: 20px;
}