body {
    background: rgb(194, 221, 166);
  font-size: 20px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
h1 {
  font-size: 25px;
}
h2 {

}

img {
    width: 100%;

}

figure {
    margin: 20px 0;
}

@media screen and (min-width: 800px) {
  body {
    background: rgb(200,200,250);
    margin: 30px;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    width: 48%;
  }

}

@media screen and (min-width: 1100px) {
    body {
        background: rgb(133, 162, 167);
        font-size: 18px;
        max-width: 90%;
        margin: auto;
    }

    h1, h2 {
    font-size: 30px;    
} 
    figure {
        width: 30%;
    }
}